<!DOCTYPE html>
<html lang="en">
cd 
    <main>
      {{{ body }}}
    </main>

<footer class="footer rows pb-2">
        <div class="row-is-full content has-text-centered">
            <p>
              <a href="/">Homepage</a>
                {{!-- {{#if loggedIn}} | 
              <a href="/views/profile.handlebars">Profile</a> | 
              <a href="/views/newPost.handlebars">Create New Post</a>
                {{else}}
              | <a href="/login/">login</a>
                {{/if}} --}}
            </p>
        </div>
</footer>

 <!-- Render script for logged in users only -->
  {{!-- {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
  crossorigin="anonymous"></script>
  <script src="/public/js/script.js"></script>
</body>
</html>


