<<<<<<<<< Temporary merge branch 1
 <h2 class="text-left p-5">Recent Reviews</h2>
 
        <div class="row row-cols-1 row-cols-md-4 p-5">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Restaurant Name</h5>
                  <p class="card-text">5/5 Stars <br>Review goes here.</br></p>
                    <div class="row row-cols left">
                        <div class="col text-center">Food: <br>5</br></div>
                        <div class="col text-center">Atmosphere: <br>5</br></div>
                        <div class="col text-center">Location: <br>5</br></div>
                    </div>
                </div>
              </div>
            </div>
        </div>    
=========
    
    <main class="d-flex min-vh-100 bg-dark">
 <h1>hello</h1>
    </main>
>>>>>>>>> Temporary merge branch 2
