<div class = "d-flex min-vh-100 bg-light">
  <div class="container-fluid my-auto">
    <h1  class="display-2 text-center text-light">New Post</h1>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 mb-3 p-4 bg-white">
        <form>
          {{!-- reasturant name --}}
          <div class="form-group">
            <label for="input">Restaurnat Name</label>
            <input type="name" class="form-control" id="name" aria-describedby="emailHelp">
          </div>
  {{!-- Rate the Food --}}
          <div class="form-group" id="rating-ability-wrapper">
            <label class="control-label" for="rating">
              <span class="field-label-header">Rate the Food</span><br>
              <span class="field-label-info"></span>
              <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
            </label>
            <h2 class="bold rating-header" style="">
              <span class="selected-rating">0</span><small> / 5</small>
            </h2>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
          </div>
{{!-- Rate the Atmosohere --}}
          <div class="form-group" id="rating-ability-wrapper">
            <label class="control-label" for="rating">
              <span class="field-label-header">Rate the Atmosohere</span><br>
              <span class="field-label-info"></span>
              <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
            </label>
            <h2 class="bold rating-header" style="">
              <span class="selected-rating">0</span><small> / 5</small>
            </h2>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
          </div>

{{!-- Rate the Location --}}
          <div class="form-group" id="rating-ability-wrapper">
            <label class="control-label" for="rating">
              <span class="field-label-header">Rate the Location</span><br>
              <span class="field-label-info"></span>
              <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
            </label>
            <h2 class="bold rating-header" style="">
              <span class="selected-rating">0</span><small> / 5</small>
            </h2>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
          </div>

{{!-- Overall Rate --}}
          <div class="form-group" id="rating-ability-wrapper">
            <label class="control-label" for="rating">
              <span class="field-label-header">Overall Rate</span><br>
              <span class="field-label-info"></span>
              <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
            </label>
            <h2 class="bold rating-header" style="">
              <span class="selected-rating">0</span><small> / 5</small>
            </h2>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
          </div>

{{!-- written review --}}
          <div class="form-group">
            <label for="ratereview">Restaurnat Review</label>
            <textarea class="form-control" id="ratereview" rows="3"></textarea>
          </div>

{{!-- upload images --}}
          <form action="upload.php" method="post">
            <input type="file" name="file" id="file"/>
          </form>
          <button type="submit" class="btn btn-primary">Submit></button>
        </form>

{{!-- back button --}}
        <div class="col-12 text-center">
          <h6><a href="/">&larr; Go Back</a></h6>
        </div>
      </div>
    </div>
  </div>
</div>