<body>
    <main class="d-flex min-vh-100 bg-dark">
      <div class="container-fluid my-auto">
        <h1 class="display-2 text-center text-light">New post</h1>
        <div class="row justify-content-center">
  
          <div class="col-12 col-md-10 mb-3 p-4 bg-white">
            <form>
              <div class="form-group">
                <label for="email-input">Restaurnat Name</label>
                <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp">
              </div>
  
              <div class="form-group">
                <label for="exampleFormControlSelect1">Rate the Food</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Rate the Atmosohere</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
  
              <div class="form-group">
                <label for="exampleFormControlSelect1">Rate the Location</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                  <label for="exampleFormControlSelect1">Overall Rate</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Restaurnat Review</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            <form action="upload.php" method="post">
                <input type="file" name="file" id="file"/>
            </form>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
  
  
  
  
  
          <div class="col-12 text-center">
            <!-- back btn -->
            <h6><a href="./index.html">&larr; Go Back</a></h6>
          </div>
        </div>
      </div>
    </main>
  
  
  </body>